list {
  margin: 100px auto;
  width: 90%;
  max-width: 500px;
  list-style: none;
}
.item {
  padding: 15px 0 15px 25px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 7px 7px 18px -3px rgba(66, 68, 90, 0.35);
  -moz-box-shadow: 7px 7px 18px -3px rgba(66, 68, 90, 0.35);
  box-shadow: 7px 7px 18px -3px rgba(66, 68, 90, 0.35);
}
.item:not(:last-of-type){
  margin-bottom: 20px;
}
.avatarImg {
  margin-right: 20px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
.online,
.offline {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.online {
  background-color: green;
}
.offline {
  background-color: tomato;
}
.friendName
{
  font-size: 22px;
  font-weight: 600;
}
