.statistics {
  width: 300px;
  background-color: #f7f7f7;

  &__title {
    padding: 26px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.125;
    text-transform: uppercase;
    text-align: center;
    color: rgb(80, 89, 96);
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
  }

  &__item {
    width: 60px;
    padding-block: 10px;
    padding-inline: 15px;
    text-align: center;
    color: #ffffff;
  }

  &__label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.143;
  }

  &__percentage {
    display: block;
    font-size: 18px;
    line-height: 1.111;
  }
}
