.statistics {
  max-width: 300px;
  width: 100%;
  margin-bottom: 15px;
}

.statistics {
  &__title {
    padding: 26px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.125;
    text-transform: uppercase;
    text-align: center;
    color: rgb(80, 89, 96);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  &__item {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
    text-shadow: -1px 1px 0px rgb(50, 50, 50), 1px 1px 0px rgb(50, 50, 50), 1px -1px 0px rgb(50, 50, 50), -1px -1px 0px rgb(50, 50, 50);
  }

  &__label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.143;
  }

  &__percentage {
    display: block;
    font-size: 18px;
    line-height: 1.111;
  }
}
